.snowbox {
   /*border: 1px solid #5BC0DE;*/
   width:360px !important;
   max-width:360px;
   display: inline-block;
   overflow: hidden;
}

.snowvideo {
   border: 1px solid #5BC0DE;
   margin:0px;
   padding:0px;
   width:100%;
   height:100%;
}

.videobox {
   width: 100%;
   text-align: center;
   display: inline-block;
   overflow:hidden;
   position:relative;
   bottom:0px;
   left:0px;
}

.float-btn-div {
   position: absolute;
   bottom: 80px;
   right: 100px;
}

.float-text-div {
   position: absolute;
   bottom: 120px;
   right: 83px;
}

.bottom {
   border-bottom: 1px solid #5BC0DE;
}


