
// fix margin of bootstrap navbar
.navbar { margin-bottom: 0 }


.snow-highlight {
   color: @primaryDark;
}

.feature-text h3 {
   color: @primary;
}

@footerPaddingSize:20px;
.footer {
   margin-top: @footerPaddingSize;
   margin-bottom: @footerPaddingSize;
}

.snowlogo {
   color: #334FFF;
}

@snowLogoColor: ##F0FF33;
//@snowLogoColor: #334FFF;
.snowlogo {
   color: @snowLogoColor;
}

.snownav {
   color: #000000;
}

